/* Following are the presentation styles -- edit away! */

body {background-color: #FFF; color: #006; font-size: 2.25em;}
:link, :visited {text-decoration: none; color: #00C;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}
h1, h2, h3, h4 {font-size: 100%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide blockquote {margin-left: 5%; margin-right: 7%; font-style: italic; }
.slide .byline {margin-left: 8em; font-style: normal;}
.slide ul {margin-left: 5%; margin-right: 7%; list-style: disc;}
.slide li {margin-top: 0.75em; margin-right: 0;}
.slide ul ul {line-height: 1;}
.slide ul ul li {margin: .2em; font-size: 85%; list-style: square;}
.slide img.leader {display: block; margin: 0 auto;}
.slide pre {margin-top: 2%;}

div#header, div#footer {background: #66C; color: #006;
  font-family: Verdana, Helvetica, sans-serif;}
div#header {
  background: #66C url(../pix/sky.png) 135px no-repeat;
  height: 59px;
}
div#header h1 {
  background: #FFF url(../pix/bivio.gif) no-repeat;
  height: 59px; width: 139px; margin: 0; padding: 0;
  font-size: 1pt; color: #FFF;
}
div#footer {font-size: 0.5em; font-weight: bold; padding: 1em 0;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

div.long {font-size: 0.75em;}
.slide h1 {
  z-index: 1;
  margin: 0;
  font: bold 125%/1em Helvetica, sans-serif;
}
.slide h3 {font-size: 130%;}

div#controls {position: absolute; left: 60%; bottom: 0;
  width: 40%;
  text-align: right; font: bold 0.9em Verdana, Helvetica, sans-serif;}
html>body div#controls {position: fixed; padding: 0; top: auto;}
#controls #navLinks a {padding: 0; margin: 0 0.5em; 
  border: none; color: #006; 
  cursor: pointer;}
#controls #navList #jumplist {background: #DDD; color: #227;}

#currentSlide {text-align: center; font-size: 0.5em; color: #006;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 1em 0 0; padding: 0;
   font: bold 2em Helvetica, sans-serif; white-space: normal;
   color: #006; background: transparent;}
#slide0 h2 {font: bold italic 1em Helvetica, sans-serif; margin: 0.25em;}
#slide0 h3 {margin-top: 1.5em; font-size: 1.5em;}
#slide0 h4 {margin-top: 0; font-size: 1em;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}
html>body .external {border-bottom: none;}
.external:after {content: " \274F"; font-size: smaller; color: #77B;}

.incremental, .incremental *, .incremental *:after {
    color: #DDE; visibility: none;
}
img.incremental {visibility: hidden;}
.slide .current {color: #006;}


/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}

* { border: 1pt solid red; }

 */

