Redirect permanent /thinair/2002/09/000012.html /thinair/2002/09/lack-of-oxygen.html
Redirect permanent /thinair/2002/09/000015.html /thinair/2002/09/uri-design.html
Redirect permanent /thinair/2002/09/000036.html /thinair/2002/09/planetary-nervous-system.html
Redirect permanent /thinair/2002/09/000018.html /thinair/2002/09/apples-market-and-alpha-geeks.html
Redirect permanent /thinair/2002/09/000020.html /thinair/2002/09/mt-blagplug.html
Redirect permanent /thinair/2002/09/000019.html /thinair/2002/09/bloghopping.html
Redirect permanent /thinair/2002/10/000039.html /thinair/2002/10/net-brain.html
Redirect permanent /thinair/2002/10/000042.html /thinair/2002/10/platforms.html
Redirect permanent /thinair/2002/10/000043.html /thinair/2002/10/hostnames.html
Redirect permanent /thinair/2002/10/000056.html /thinair/2002/10/software-development-profession.html
Redirect permanent /thinair/2002/10/000059.html /thinair/2002/10/fear-leads-to-suffering.html
Redirect permanent /thinair/2002/10/000063.html /thinair/2002/10/apple-culture-clash.html
Redirect permanent /thinair/2002/10/000064.html /thinair/2002/10/online-communities.html
Redirect permanent /thinair/2002/10/000060.html /thinair/2002/10/werkflow.html
Redirect permanent /thinair/2002/11/000065.html /thinair/2002/11/mac-cube.html
Redirect permanent /thinair/2002/11/000066.html /thinair/2002/11/literacy-democracy-jefferson-wellstone.html
Redirect permanent /thinair/2002/11/000068.html /thinair/2002/11/veterans-day.html
Redirect permanent /thinair/2002/11/000070.html /thinair/2002/11/other-eric-dobbs.html
Redirect permanent /thinair/2002/11/000071.html /thinair/2002/11/no-computer.html
Redirect permanent /thinair/2002/11/000072.html /thinair/2002/11/just-do-it.html
Redirect permanent /thinair/2002/12/000073.html /thinair/2002/12/springs-and-neaps.html
Redirect permanent /thinair/2002/12/000075.html /thinair/2002/12/acts-of-kindness-to-self.html
Redirect permanent /thinair/2003/01/000076.html /thinair/2003/01/resolutions.html
Redirect permanent /thinair/2003/01/000077.html /thinair/2003/01/os-x-pitch.html
Redirect permanent /thinair/2003/01/000078.html /thinair/2003/01/perfect-design.html
Redirect permanent /thinair/2003/01/000079.html /thinair/2003/01/architecture-vs-architecture.html
Redirect permanent /thinair/2003/01/000080.html /thinair/2003/01/lazyweb-rad.html
Redirect permanent /thinair/2003/01/000081.html /thinair/2003/01/surfing.html
Redirect permanent /thinair/2003/01/000082.html /thinair/2003/01/restoration-of-the-republic.html
Redirect permanent /thinair/2003/01/000083.html /thinair/2003/01/grassroots-homeland-security.html
Redirect permanent /thinair/2003/01/000084.html /thinair/2003/01/html-css.html
Redirect permanent /thinair/2003/02/000085.html /thinair/2003/02/oo-perl.html
Redirect permanent /thinair/2003/02/000086.html /thinair/2003/02/valid-feeds.html
Redirect permanent /thinair/2003/02/000087.html /thinair/2003/02/urgent-vs-important.html
Redirect permanent /thinair/2003/02/000088.html /thinair/2003/02/safari-bookmarks.html
Redirect permanent /thinair/2003/02/000089.html /thinair/2003/02/full-content-feeds.html
Redirect permanent /thinair/2003/03/000091.html /thinair/2003/03/oppose-invasion-of-iraq.html
Redirect permanent /thinair/2003/03/000092.html /thinair/2003/03/congress-org.html
Redirect permanent /thinair/2003/03/000094.html /thinair/2003/03/web-app-links.html
Redirect permanent /thinair/2003/03/000095.html /thinair/2003/03/war-begins.html
Redirect permanent /thinair/2003/03/000096.html /thinair/2003/03/spring.html
Redirect permanent /thinair/2003/03/000097.html /thinair/2003/03/capital-punishment-and-iraq.html
Redirect permanent /thinair/2003/03/000098.html /thinair/2003/03/dev-impatience.html
Redirect permanent /thinair/2003/04/000099.html /thinair/2003/04/nexts-best-thing.html
Redirect permanent /thinair/2003/04/000100.html /thinair/2003/04/lossage.html
Redirect permanent /thinair/2003/04/000101.html /thinair/2003/04/spam-evolution-and-breeding.html
Redirect permanent /thinair/2003/04/000102.html /thinair/2003/04/prefer-non-violence.html
Redirect permanent /thinair/2003/04/000103.html /thinair/2003/04/serpico.html
Redirect permanent /thinair/2003/04/000104.html /thinair/2003/04/server-side-spam-filters.html
Redirect permanent /thinair/2003/04/000105.html /thinair/2003/04/test-driving-idea.html
Redirect permanent /thinair/2003/04/000106.html /thinair/2003/04/duplication-in-test-driven-sql.html
Redirect permanent /thinair/2003/04/000107.html /thinair/2003/04/insurance-die-die-die.html
Redirect permanent /thinair/2003/04/000108.html /thinair/2003/04/commuting-not-coding.html
Redirect permanent /thinair/2003/04/000109.html /thinair/2003/04/blog-changes.html
Redirect permanent /thinair/2003/04/000110.html /thinair/2003/04/pda-dev.html
Redirect permanent /thinair/2003/05/000111.html /thinair/2003/05/spam-vs-digital-identity.html
Redirect permanent /thinair/2003/06/000115.html /thinair/2003/06/rfid-roads-cars.html
Redirect permanent /thinair/2003/07/000116.html /thinair/2003/07/art-itunes-applestore.html
Redirect permanent /thinair/2003/07/000117.html /thinair/2003/07/blogroll.html
Redirect permanent /thinair/2003/07/000118.html /thinair/2003/07/artists-self-publishing.html
Redirect permanent /thinair/2003/07/000120.html /thinair/2003/07/war-and-fear.html
Redirect permanent /thinair/2003/07/000121.html /thinair/2003/07/j2ee-packaging.html
Redirect permanent /thinair/2003/07/000122.html /thinair/2003/07/browser-upgrade-campaign.html
Redirect permanent /thinair/2003/07/000123.html /thinair/2003/07/use-a-better-browser.html
Redirect permanent /thinair/2003/07/000124.html /thinair/2003/07/net-group-dynamics.html
Redirect permanent /thinair/2003/07/000125.html /thinair/2003/07/pardon-the-dust.html
Redirect permanent /thinair/2003/08/000126.html /thinair/2003/08/spam-vs-chain-letters.html
Redirect permanent /thinair/2003/08/000127.html /thinair/2003/08/indras-net-rocks.html
Redirect permanent /thinair/2003/08/000128.html /thinair/2003/08/please-fail-fast.html
Redirect permanent /thinair/2003/08/000129.html /thinair/2003/08/sarah-has-geek-potential.html
Redirect permanent /thinair/2003/08/000130.html /thinair/2003/08/master-apprentice-staff.html
Redirect permanent /thinair/2003/08/000131.html /thinair/2003/08/vile-spammer.html
Redirect permanent /thinair/2003/08/000132.html /thinair/2003/08/sobig-f.html
Redirect permanent /thinair/2003/08/000133.html /thinair/2003/08/spam-malware-symbiosis.html
Redirect permanent /thinair/2003/09/000135.html /thinair/2003/09/malware-market-share.html
Redirect permanent /thinair/2003/09/000136.html /thinair/2003/09/scaffolding-and-architecture.html
Redirect permanent /thinair/2003/09/000137.html /thinair/2003/09/to-the-death.html
Redirect permanent /thinair/2003/09/000138.html /thinair/2003/09/0xdecafbad-to-new-millennium.html
Redirect permanent /thinair/2003/09/000139.html /thinair/2003/09/xpath-in-uris.html
Redirect permanent /thinair/2003/09/000140.html /thinair/2003/09/fsm.html
Redirect permanent /thinair/2003/09/000141.html /thinair/2003/09/fsm-planetcad.html
Redirect permanent /thinair/2003/10/000142.html /thinair/2003/10/fsm-tango.html
Redirect permanent /thinair/2003/10/000143.html /thinair/2003/10/visionlink-business-lessons.html
Redirect permanent /thinair/2003/10/000144.html /thinair/2003/10/rss-data-xml-data.html
Redirect permanent /thinair/2003/10/000145.html /thinair/2003/10/fsm-agile-software-development.html
Redirect permanent /thinair/2003/10/000146.html /thinair/2003/10/fsm-ace.html
Redirect permanent /thinair/2003/10/000147.html /thinair/2003/10/plate-o-shrimp.html
Redirect permanent /thinair/2003/10/000148.html /thinair/2003/10/fsm-on-lisp.html
Redirect permanent /thinair/2003/10/000149.html /thinair/2003/10/fsm-bop.html
Redirect permanent /thinair/2003/10/000150.html /thinair/2003/10/fsm-jsf-and-bop.html
Redirect permanent /thinair/2003/10/000151.html /thinair/2003/10/expose-and-alt-tab.html
Redirect permanent /thinair/2003/11/000152.html /thinair/2003/11/pumpkins-pooh-and-grues.html
Redirect permanent /thinair/2003/11/000153.html /thinair/2003/11/altitude-and-hard-drives.html
Redirect permanent /thinair/2003/11/000154.html /thinair/2003/11/love-actually.html
Redirect permanent /thinair/2003/11/000155.html /thinair/2003/11/hired-by-bivio.html
Redirect permanent /thinair/2003/12/000156.html /thinair/2003/12/analog-vs-digital-knowledge-and-suicide.html
Redirect permanent /thinair/2003/12/000158.html /thinair/2003/12/conic-sections.html
Redirect permanent /thinair/2003/12/000159.html /thinair/2003/12/hiccups.html
Redirect permanent /thinair/2004/01/000162.html /thinair/2004/01/on-lisp-beyond-fsm.html
Redirect permanent /reflection/2006/07/who.html /thinair/2006/07/who-programmer.html
Redirect permanent /reflection/2005/04/power-shift.html /thinair/2005/04/power-shift.html
Redirect permanent /reflection/2004/11/create-peace.html /thinair/2004/11/create-peace.html
Redirect permanent /reflection/2004/09/overconsumption.html /thinair/2004/09/overconsumption.html
Redirect permanent /reflection/2004/07/election-2000-by-county.html /thinair/2004/07/election-2000-by-county.html
Redirect permanent /reflection/2004/07/power-grab.html /thinair/2004/07/power-grab.html
Redirect permanent /reflection/2004/06/rural-voters.html /thinair/2004/06/rural-voters.html
Redirect permanent /reflection/2004/02/waves.html /thinair/2004/02/waves.html
Redirect permanent /reflection/2003/12/000157.html /thinair/2003/12/vanishing-point.html
Redirect permanent /reflection/2003/11/000134.html /thinair/2003/11/lucia-and-the-veteran.html
Redirect permanent /reflection/2003/07/000119.html /thinair/2003/07/war-and-fear.html
Redirect permanent /reflection/2003/06/000114.html /thinair/2003/06/elusive-wmds.html
Redirect permanent /reflection/2003/06/000112.html /thinair/2003/06/life-death-aikido.html
Redirect permanent /reflection/2002/12/000074.html /thinair/2002/12/perspective-terms.html
Redirect permanent /reflection/2002/11/000067.html /thinair/2002/11/veterans-day.html
Redirect permanent /reflection/2002/10/000061.html /thinair/2002/10/zen-and-peace-of-mind.html
Redirect permanent /reflection/2002/10/000044.html /thinair/2002/10/dream-encyclopedia.html
Redirect permanent /reflection/2002/10/000045.html /thinair/2002/10/zork.html
Redirect permanent /reflection/2002/10/000058.html /thinair/2002/10/who.html
Redirect permanent /reflection/2002/09/000057.html /thinair/2002/09/unstarted-projects.html
Redirect permanent /reflection/2001/01/000054.html /thinair/2001/01/when-i-grow-up.html
