body {
    font-family: Verdana,sans-serif;
    width: 800px;
    margin: auto;
    padding: 0 5em;
    position: relative;
}
h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.header, .header a {
    color: #66f;
    background-color: white;
    text-decoration: none;
}
.header {
    position: relative;
    height: 200px;
    margin-bottom: 5em;
    background: url('thinair.png') right bottom no-repeat;
}
.header h1 {
    position: absolute;
    bottom: -14pt;
    font-size: 70pt;
}
.header .hgroup {
    position: absolute;
    bottom: 0;
    left: 22em;
}
.header h2 {
    font-size: 12pt;
    white-space: nowrap;
}
.article {
    clear: both;
    padding-bottom: 2em;
}
.nav {
    font-size: 10pt;
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 800px;
    padding: 0 60pt;
}
.nav ol {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
}
.nav li {
    white-space: nowrap;
}
.nav li ol {
    display: none;
    background: white;
    border: 1pt solid #66f;
}
.nav > ol > li {
    float: left;
    padding-right: 2em;
}
.nav li:hover ol {
    display: block;
}
.nav a {
    display: block;
    padding: 2pt 8pt;
}
.nav a:hover {
    color: white;
    background-color: #66f;
}
.meta {
    color: #888;
    background-color: white;
}
.footer {
    padding: 2em 0;
}
